@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.titulo{
  color: #fff;
  text-align: center;
  align-items: center;
  margin-top: 30px;
  padding: 2rem;
  height: 100%;
  width: 100%;
  font-family: Comfortaa;
  font-size: 50px;
}

.subtitulo{

  color: #fff;
  text-align: center;
  align-items: center;
}

.home{
  margin-top: 30px;
  text-align: center;
  font-family: Comfortaa;
}
.card{
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-left: 0;
  font-family: Comfortaa;
}

.text-carrosel{
  font-family: Comfortaa;
  background-color: black;
  color: #fff;
  border-radius: 30px;
}

.rodape{
  margin-top: 50px;
  width: 100%;
  height: 20rem;
}

.text-rodape{
  flex-direction: column;
  color: #fff;
  font-size: 20px;
  font-family: Comfortaa;
  text-align: center;
  align-items: center;
}

.sobre{
  margin-top: 50px;
  font-weight: bold;
  align-items: center;
  text-align: center;
  font-family: Comfortaa;

}

.sobre-p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin:20px;
}